In [1]:
import atoti as tt

session = tt.create_session()

Welcome to atoti 0.5.1!

By using this community edition, you agree with the license available at https://www.atoti.io/eula.
Browse the official documentation at https://docs.atoti.io.
Join the community at https://www.atoti.io/register.

You can hide this message by setting the ATOTI_HIDE_EULA_MESSAGE environment variable to True.

In [2]:
countries_store = session.read_csv("data/countries.csv", keys=["Three_Letter_Country_Code"])

In [3]:
countries_store.head()

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Country_Number
Three_Letter_Country_Code,,,,,
AFG,Asia,AS,"Afghanistan, Islamic Republic of",AF,4
ALB,Europe,EU,"Albania, Republic of",AL,8
ATA,Antarctica,AN,Antarctica (the territory South of 60 deg S),AQ,10
DZA,Africa,AF,"Algeria, People's Democratic Republic of",DZ,12
ASM,Oceania,OC,American Samoa,AS,16

In [3]:
flags_store = session.read_csv("data/flags.csv", keys=["Flag Code"])

In [5]:
flags_store.head()

                   Flag Name
Flag Code
E            Estimated value
B                      Break
I            Incomplete data
n          National estimate

In [4]:
variables_store = session.read_csv("data/variables.csv", keys=["Variable Code"])

In [7]:
variables_store.head()

                                                   Variable Name Unit Code
Variable Code
CO2_PBPROD     Production-based CO2 productivity, GDP per uni...    USD_KG
CO2_PBEMCAP    Production-based CO2 intensity, energy-related...     TONNE
NRG_PROD              Energy productivity,  GDP per unit of TPES       USD
NRG_INT                        Energy intensity, TPES per capita       TOE
RE_TPES           Renewable energy supply, % total energy supply        PC

In [5]:
main_store = session.read_csv("data/green-growth.csv", keys=["Country Code", "Year"])

In [6]:
main_store.head()

                  Flag Codes  \
Country Code Year
NRU          2017        N/A
AGO          2019        N/A
NRU          1990        N/A
             1995        N/A
             2000        N/A

                   Production-based CO2 productivity, GDP per unit of energy-related CO2 emissions (US dollars per kilogram)  \
Country Code Year
NRU          2017                                                NaN
AGO          2019                                                NaN
NRU          1990                                                NaN
             1995                                                NaN
             2000                                                NaN

                   Production-based CO2 intensity, energy-related CO2 per capita (Tonnes)  \
Country Code Year
NRU          2017                                                NaN
AGO          2019                                                NaN
NRU          1990                                                NaN
             1995                                                NaN
             2000                                                NaN

                   Energy productivity,  GDP per unit of TPES (US Dollar)  \
Country Code Year
NRU          2017                                                NaN
AGO          2019                                                NaN
NRU          1990                                                NaN
             1995                                                NaN
             2000                                                NaN

                   Energy intensity, TPES per capita (Tonnes of oil equivalent (toe))  \
Country Code Year
NRU          2017                                                NaN
AGO          2019                                                NaN
NRU          1990                                                NaN
             1995                                                NaN
             2000                                                NaN

                   Renewable energy supply, % total energy supply (Percentage)  \
Country Code Year
NRU          2017                                                NaN
AGO          2019                                                NaN
NRU          1990                                                NaN
             1995                                                NaN
             2000                                                NaN

                   Renewable electricity, % total electricity generation (Percentage)  \
Country Code Year
NRU          2017                                                NaN
AGO          2019                                                NaN
NRU          1990                                                NaN
             1995                                                NaN
             2000                                                NaN

                   Total freshwater abstraction per capita (Cubic metres per capita)  \
Country Code Year
NRU          2017                                                NaN
AGO          2019                                                NaN
NRU          1990                                                NaN
             1995                                                NaN
             2000                                                NaN

                   Water stress, total freshwater abstraction as % total available renewable resources (Percentage)  \
Country Code Year
NRU          2017                                                NaN
AGO          2019                                                NaN
NRU          1990                                                NaN
             1995                                                NaN
             2000                                                NaN

                   Water stress, total freshwater abstraction as % total internal renewable resources (Percentage)  \
Country Code Year
NRU          2017                                                NaN
AGO          2019                                                NaN
NRU          1990                                                NaN
             1995                                                NaN
             2000                                                NaN

                   ...  \
Country Code Year  ...
NRU          2017  ...
AGO          2019  ...
NRU          1990  ...
             1995  ...
             2000  ...

                   Emissions priced above EUR 30 per tonne of CO2, % total emissions (Percentage)  \
Country Code Year
NRU          2017                                                NaN
AGO          2019                                                NaN
NRU          1990                                                NaN
             1995                                                NaN
             2000                                                NaN

                   Farmland Birds Index, 2000=100 (Index)  \
Country Code Year
NRU          2017                                     NaN
AGO          2019                                     NaN
NRU          1990                                     NaN
             1995                                     NaN
             2000                                     NaN

                   Marine protected area, % total exclusive economic zone (Percentage)  \
Country Code Year
NRU          2017                                                NaN
AGO          2019                                                NaN
NRU          1990                                                NaN
             1995                                                NaN
             2000                                                NaN

                   Intact forest landscape loss, % since 2000 (Percentage)  \
Country Code Year
NRU          2017                                                NaN
AGO          2019                                                NaN
NRU          1990                                                NaN
             1995                                                NaN
             2000                                                NaN

                   Forest Birds Index, 2000=100 (Index)  \
Country Code Year
NRU          2017                                   NaN
AGO          2019                                   NaN
NRU          1990                                   NaN
             1995                                   NaN
             2000                                   NaN

                   Electricity support, % total fossil fuel support (Percentage)  \
Country Code Year
NRU          2017                                                NaN
AGO          2019                                                NaN
NRU          1990                                                NaN
             1995                                                NaN
             2000                                                NaN

                   CO2 intensity of GDP, CO2 emissions per unit of GDP ()  \
Country Code Year
NRU          2017                                                NaN
AGO          2019                                                NaN
NRU          1990                                                NaN
             1995                                                NaN
             2000                                                NaN

                   Renewable energy supply (excluding solid biofuels), % total energy supply ()  \
Country Code Year
NRU          2017                                                NaN
AGO          2019                                                NaN
NRU          1990                                                NaN
             1995                                                NaN
             2000                                                NaN

                   Naturally regenerating forests, % total forest area ()  \
Country Code Year
NRU          2017                                                NaN
AGO          2019                                                NaN
NRU          1990                                                NaN
             1995                                                NaN
             2000                                                NaN

                   Forests with long-term management plans, % total forest area ()
Country Code Year
NRU          2017                                                NaN
AGO          2019                                                NaN
NRU          1990                                                NaN
             1995                                                NaN
             2000                                                NaN

[5 rows x 155 columns]

In [6]:
main_store.join(countries_store, mapping={"Country Code": "Three_Letter_Country_Code"})

In [7]:
cube = session.create_cube(main_store)

In [8]:
h = cube.hierarchies
lvl = cube.levels
m = cube.measures

In [10]:
h

Hierarchies()

In [9]:
h["Country"] = [lvl["Continent_Name"], lvl["Country_Name"]]

In [10]:
del h["Two_Letter_Country_Code"]

In [11]:
del h["Country Code"]

In [12]:
del h["Continent_Name"]

In [13]:
del h["Continent_Code"]

In [14]:
del h["Country_Number"]

In [15]:
del h["Country_Name"]

In [16]:
summableMeasures = [
    "Total primary energy supply (tonne of oil equivalent)",
    "Production-based CO2 emissions (tonne)",
    "Demand-based CO2 emissions (tonne)",
    "Forest resource stocks (m3)",
    "Population",
    "Net migration"
]

In [21]:
for key in m:
    if "%" in key:
        m[key].formatter = "DOUBLE[#.##%]"
    isSummable = any(key.startswith(x) for x in summableMeasures)
    if ((isSummable and key.endswith(".MEAN")) or (not isSummable and key.endswith(".SUM"))):
        del m[key]

In [18]:
h["Year"].slicing = True

In [19]:
session.url

'http://localhost:59865'